<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-xl-6 col-12">
        <div class="card">
            <div class="card-header">
                <h1>Login Page</h1>
                <p>Please enter your login information</p>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="signIn(loginForm)" autocomplete="off">
                <div class="form-group">
                    <label for="userNameOrEmail">User Name or Surname</label>
                    <input validate required minlength="3" type="text" ngModel name ="userNameOrEmail" id="userNameOrEmail" class="form-control ">
                    <!-- Template reference variable ile ngModel deki form elemanının değeri aynı isimde olamaz--> 
                    <div class="invalid-feedback">User name or email must be valid</div>
                </div>
                <div class="form-group mt-1">
                    <label for="password">Password</label>
                    <div class="input-group mb-3">
                        
                        <input (focus)="isPasswordFocus = true" (blur)="isPasswordFocus = false" #password ngModel name="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()_+\-=\[\]{}]:;'\\,.<>\/?])(?=.[0-9]).+" type="password" class="form-control" placeholder="">
                        <span class="input-group-text" id="basic-addon1">
                            <i (click) ="showOrHidePassword(password)"  *ngIf="!isShowPassword" class="fa-solid fa-eye"></i>
                            <i (click)= "showOrHidePassword(password)" *ngIf="isShowPassword" class="fa-solid fa-eye-slash"></i>
                        </span>
                    </div>
                    <ul class="password-ul" *ngIf="isPasswordFocus">
                        <li>Büyük harf</li>
                        <li >Küçük Harf</li>
                        <li>Özel karakter</li>
                        <li>Sayı</li>
                    </ul>
                </div>
                <div class="form-group mt-1">
                    <button [disabled]="!loginForm.valid" type = "submit" class="btn btn-success w-100">Sign In</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
