<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-xl-6 col-12">
        <div class="card">
            <div class="card-header">
                <h1>Login Page</h1>
                <p>Please enter your login information</p>
            </div>
            <div class="card-body">
                <form #loginForm="ngForm" (ngSubmit)="signIn(loginForm)" autocomplete="off">
                <div class="form-group">
                    <label for="userNameOrEmail">User Name or Surname</label>
                    <input #name (keyup)="checkValidation(name)" required minlength="3" type="text" ngModel name ="userNameOrEmail" id="userNameOrEmail" class="form-control ">
                    <!-- Template reference variable ile ngModel deki form elemanının değeri aynı isimde olamaz--> 
                    <div class="invalid-feedback">User name or email must be valid</div>
                </div>
                <div class="form-group mt-1">
                    <label for="password">Password</label>
                    <input #password (keyup)="checkValidation(password)" required minlength="6" type="password" ngModel name ="password" class="form-control">
                    <div class="invalid-feedback">Password must be valid</div>
                </div>
                <div class="form-group mt-1">
                    <button [disabled]="!loginForm.valid" type = "submit" class="btn btn-success w-100">Sign In</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
