<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-xl-6 col-12">
        <div class="card">
            <div class="card-header">
                <h1>Login Page</h1>
                <p>Please enter your login information</p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="userNameOrEmail">User Name or Surname</label>
                    <input type="text" id="userNameOrEmail" class="form-control">
                </div>
                <div class="form-group mt-1">
                    <label for="password">Password</label>
                    <input type="password" class="form-control">
                </div>
                <div class="form-group mt-1">
                    <button class="btn btn-success w-100"></button>
                </div>
            </div>
        </div>
    </div>
</div>
